<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일몰시 타이머</title>
    <!--<link rel="import" href="index.html">-->
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/topbar.css">
    <link rel="stylesheet" href="../css/clock.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../timer">
                <img src="../img/icon.png" alt="일몰 이미지" class="sunset-image" width="70px">
                <span style="font-size: 0.8em; vertical-align: middle;"></span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between flex-column flex-md-row" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/todo">Todo list</a>
                        <a class="dropdown-item" href="/board">게시판</a>
                        <a class="dropdown-item" href="/total">Total time</a>
                    </div>
                </li>
            </ul>
            <div th:with="loginMember=${session.loginMember}" class="d-flex align-items-center ml-auto">
                <div th:if="${loginMember != null && loginMember.memberName != null}" class="mr-md-auto mb-2 mb-md-0 text-nowrap">
                    <p th:text="${loginMember.memberName} + ' 님'"></p>
                    <form action="/index" method="post" class="form-inline">
                        <button type="submit" class="btn btn-outline-light small-button">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="container">
    <div class="clock">
        <!-- 시계에 숫자를 표시하는 요소 -->
        <div class="hour-mark">1</div>
        <div class="hour-mark">2</div>
        <div class="hour-mark">3</div>
        <div class="hour-mark">4</div>
        <div class="hour-mark">5</div>
        <div class="hour-mark">6</div>
        <div class="hour-mark">7</div>
        <div class="hour-mark">8</div>
        <div class="hour-mark">9</div>
        <div class="hour-mark">10</div>
        <div class="hour-mark">11</div>
        <div class="hour-mark" style="left: 30% top: 55%">12</div>

        <div class="hour" id="hour-hand"></div>
        <div class="minute" id="minute-hand"></div>
        <div class="second" id="second-hand"></div>
    </div>
</main>

<div class="Timer" id="timer">00:00:00</div>
<div class="subject-wrap">
    <div class="addsub">
        <form action="/timer/subject" method="post" class="form-inline">
            <button class="But1" id="addsub">과목 추가</button>
            <div class="subject-dropdown">
                <input class="select" type="subject" name="subject">
                <input type="hidden" name="email" th:value="${session.loginMember.memberEmail}">
            </div>
        </form>
    </div>
    <div class="delsub">
        <form id="deleteForm" method="post" class="form-inline">
            <button class="But1" id="delsub" type="button" onclick="deleteSubject()">과목 삭제</button>
            <div class="subject-dropdown">
                <select class="select" id="subjectselect" name="selectedSubjectId" onchange="callTimerFromServer()">
                    <option value="" disabled selected hidden>과목선택</option>
                    <option th:each="entity : ${list}" th:value="${entity.id}" th:text="${entity.subject}"></option>
                </select>
            </div>
        </form>
    </div>
    <div class="ButtonContainer">
        <button class="Button" id="startButton">Start</button>
        <button class="Button" id="stopButton">Stop</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../js/timer.js"></script>
<script src="../js/clock.js" defer></script>
</body>
<footer>
    <div id="quoteContainer">
        <p id="quote"></p>
    </div>
    <script src="../js/quotes.js" defer></script>
    <style>
        #quoteContainer {
            text-align: center;
            margin-bottom: 20px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }

        #quote {
            font-size: 20px;
            font-style: italic;
            color: #333;
        }
    </style>
</footer>
</html>
