<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일몰시 전체 시간</title>
    <link rel="stylesheet" href="../css/timer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/total.css">
    <link rel="stylesheet" href="../css/topbar.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../timer">
                <img src="../img/icon.png" alt="일몰 이미지" class="sunset-image" width="70px">
                <span style="font-size: 0.8em; vertical-align: middle;"></span>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between flex-column flex-md-row" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/timer">Timer</a>
                        <a class="dropdown-item" href="/board">게시판</a>
                        <a class="dropdown-item" href="/todo">Todo list</a>
                    </div>
                </li>
            </ul>
            <div th:with="loginMember=${session.loginMember}" class="d-flex align-items-center ml-auto">
                <div th:if="${loginMember != null && loginMember.memberName != null}" class="mr-md-auto mb-2 mb-md-0 text-nowrap">
                    <p th:text="${loginMember.memberName} + ' 님'"></p>
                    <form action="/index" method="post" class="form-inline">
                        <button type="submit" class="btn btn-outline-light small-button">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="image">
    <div th:if="${totalHours >= 6}">
        <!-- 6시간 이상일 때의 이미지 -->
        <img src="../img/verygood.png" alt="Good Job!">
    </div>
    <div th:if="${totalHours >= 4 and totalHours < 6}">
        <!-- 4시간 이상 6시간 미만일 때의 이미지 -->
        <img src="../img/good.png" alt="Well Done!">
    </div>
    <div th:if="${totalHours >= 2 and totalHours < 4}">
        <!-- 2시간 이상 4시간 미만일 때의 이미지 -->
        <img src="../img/soso.png" alt="Keep it Up!">
    </div>
    <div th:if="${totalHours >= 1 and totalHours < 2}">
        <!-- 1시간 이상일 때의 이미지 -->
        <img src="../img/bad.png" alt="Keep Going!">
    </div>
    <div th:if="${totalHours < 1}">
        <!-- 1시간 미만일 때의 이미지 -->
        <img src="../img/verybad.png" alt="What is This?">
    </div>
    <h1>
        <center>당신의 공부 시간은
            <span th:if="${totalHours != 0}" th:text="${totalHours + '시간'}"></span>
            <!-- 분이 1분 이상이거나 시간이 1시간 이상일 때 분을 표시 -->
            <span th:if="${totalHours != 0 || totalMinutes != 0}">
                <span th:text="${totalMinutes}"></span>분
            </span>
            <!-- 초를 항상 표시 -->
            <span th:text="${totalSeconds}"></span>초입니다! 오늘도 힘내요!
        </center>
    </h1>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('.navbar-toggler').on('click', function() {
            $('.navbar-collapse').toggleClass('show');
        });

        $('.dropdown-toggle').on('click', function(e) {
            e.preventDefault();
            $(this).next('.dropdown-menu').toggleClass('show');
        });
    });
</script>
</body>
<footer>
    <div id="quoteContainer">
        <p id="quote"></p>
    </div>
    <script src="../js/quotes.js" defer></script>
    <style>
        #quoteContainer {
            text-align: center;
            margin-bottom: 20px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }

        #quote {
            font-size: 20px;
            font-style: italic;
            color: #333;
        }
    </style>
</footer>
</html>
